__pycache__/*
lightning_logs/*
wandb/*

credentials
wandbcreds
**/*/images/*
**/clip_search/image_query/images/*
*.egg_info/*
embeddings/*
index.faiss
images/*
**/images/*
**/clip_search/image_query/embeddings/*
**/__pycache__/*
clip_search.egg-info/*
